@mixin vertical-align {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


input {
  padding: 7px;
  margin-bottom: 15px;
}

button {
  padding: 5px;
  border-radius: 3px;
}

div.tournament-list {
  margin-bottom: 15px;
  text-align: left;

  .tournament {

    &.disabled {
      opacity: .5;
    }

    display: flex;
    padding: 4px 0;

    &:hover:not(.disabled) .delete-tournament {
      transform: translateY(0) !important;
    }

    .tournament-discipline {
      width: 5em;
      font-size: 0.8em;
      @include vertical-align;
    }

    .tournament-name {
      width: 7em;
      display: flex;
      overflow: hidden;

      div:first-child {
        flex-grow: 1;
      }

      .delete-tournament {
        font-weight: bold;
        cursor: pointer;
        color: orangered;
        transform: translateY(100%);
        transition: transform .2s ease-out;
        padding: 2px;
      }

    }

  }

}